layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane {
            name "Server"
            command "python"
            args "-m" "bbs_server" "start"
        }
        pane split_direction="horizontal" {
            pane {
                name "Client"
                command "python"
                args "-m" "textual" "run" "--dev" "bbs_client/app.py"
            }
            pane {
                name "Textual Console"
                command "textual"
                args "console"
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
